name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node 14
      uses: actions/setup-node@v3
      with:
        node-version: 14

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 8
        cache: 'maven'

    - name: Build & Test
      run: npm run build

    - name: Checkout samples repo
      uses: actions/checkout@v3
      with:
        submodules: recursive
        repository: apex-dev-tools/apex-samples
        path: apex-samples

    - name: System Test
      run: |
        echo "SAMPLES=$GITHUB_WORKSPACE/apex-samples" >> "$GITHUB_ENV"
        npm run test-samples
      working-directory: npm
